
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    </head>
        <body>
            <h1>SUCCESSFULLY UPDATED</h1>
                <ul>
                    <li>
                        PRODUCT =&nbsp;&nbsp;<%= products.product %>
                        <br><br>
                        PRICE =&nbsp;&nbsp;<%= products.price %>
                        <br><br>
                    </li>
                </ul>
        </body>
</html>